<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Ajuda - Tradutor de Libras</title>
<link rel="stylesheet" href="static/css/stylesfred.css">
<link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
<header class="topbar">
<div class="brand"> Tradutor de Libras</div>
<nav class="topnav">

<a href="/">Menu</a>
<a href="configuracoes.html">Configurações</a>
<a href="ajuda.html" class="active">Ajuda</a>
<a href="sobre.html">Sobre</a>
</nav>
</header>


<main class="container small">

<h2 style="text-align: center;"> Ajuda</h2>
<br>

<div class ="divtest"; style="padding-left: 25%;">
    
<li>Posicione-se com boa iluminação e fundo neutro.</li>
<li>Mantenha as mãos visíveis e centralizadas na câmera.</li>
<li>Capture frames estáveis (não mexa a câmera).</li>
<li>Use resolução 720p para melhor reconhecimento.</li>
</div>

</main>
<div id="dov">

    <img src="static/img/image.gpn.jpeg"
    style="width: 300px; display: block; margin: 0 auto;">

</div>

<script src="{{ url_for('static', filename='scripts/darkmode.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/tradutor.js') }}"></script>
</body>
</html>
