<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Configurações - Tradutor de Libras</title>
<link rel="stylesheet" href="static/css/stylesfred.css">
<link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<header class="topbar">
<div class="brand">Tradutor de Libras</div>
<nav class="topnav">

<a href="/">Menu</a>
<a href="configuracoes.html" class="active">Configurações</a>
<a href="ajuda.html">Ajuda</a>
<a href="sobre.html">Sobre</a>
</nav>
</header>

<main class="container small">
<h2>Configurações</h2>

<div class="config-item">
    <label class="switch">
        <input type="checkbox" id="toggleTheme">
        <span class="slider"></span>
    </label>
    <span>Ativar tema escuro</span>
</div>
<div class="option">
    <span>Tamanho da fonte:</span>
    <input type="range" id="fonte" min="14" max="26" value="16">
</div>
</main>

<script src="app.js"></script>

<script src="{{ url_for('static', filename='./scripts/darkmode.js') }}"></script>
<script src="{{ url_for('static', filename='./scripts/tradutor.js') }}"></script>

</body>
</html>
